#people-list {
  width: 200px;
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  height: 400px;
}

.person-entry {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.person-entry .person-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.person-name {
  vertical-align: top;
}
